
.DS_Store

*.csproj

*.dll

*.aspx

*.map

*.config

*.ini

*.xml

*.browser

Bowling.app/

*.asset

*.meta

*.dylib

*.pidb

*.unityproj

BowLeap.app/

*.assets

*.plist

*.nib

*.sln

*.userprefs

*.a

Library/

Plugins/

*.prefs

*.mdb

Temp/
